

.ChatComponent {
    width: 100%;
}

.ChatComponent-in {
    width: 100%;
    height: 100vh;
    display: flex;
}

.chat-one {
    width: 20%;
    height: 100vh;
    border: 2px solid blue;
}

.chat-two {
    width: 80%;
    height: 100vh;
    border: 2px solid blue;
}

.chat-two-in {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat-two-nav {
    width: 100%;
    height: 10%;
    border: 2px solid blue;
}

.chat-two-content {
    width: 100%;
    height: 80%;
    border: 2px solid blue;
}

.chat-two-input {
    width: 100%;
    height: 10%;
    border: 2px solid green;
}

.chat-two-input input { 
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
